@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f1115;
  color: white;
}

/* Скроллбар для дашборда */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1c23;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}